html{
    box-sizing: border-box;
}
* {
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #212121;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    display: flex;
    align-items: center;
}

.title{
    display: inline-block;
    padding: 24px 1px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2; 
}
h1{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
.part1{
    color: #2196F3;
}
.part2{
    color: #000000;
}
.part-last{
    color: #FFFFFF;
}

.site-nav{
    display: flex;
    margin-left: 93px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    
}
.site-nav li+ li{
    margin-left: 50px;
}
.nav{
   display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.2em;

    color: #212121;
}
.div{
    margin: 0;
    padding: 0;
}
.nav:hover,
.nav:active{
    color: #2196F3;
    cursor: pointer;
}
.contact1{
    margin-left: auto;
}
div .contact+ .contact{
    margin-left: 40px;
}
.contact{
    font-size: 14px;
    line-height: 1.2em;
    color: #757575;
}
.contact:hover,
.contact:active{
    color: #2196F3;
    cursor: pointer;
}
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 94px;
    text-align: center;
    background-color: #2F303A;
} 

.headline{
    display:block;
    margin: 0 auto 30px auto;
    padding: 15px 44px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    box-sizing: border-box;
    max-width: 696px; 
}
.headline{
    color: #FFFFFF;
}

.headline-btn {
    display: inline-block;
    margin-top: 0;
    padding: 10px 24px;

    font-family: inherit;
    line-height: 1.8;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;

    color: #fff;
    background-color: #2196F3;
}
.headline-btn:hover,
.headline-btn:active{
    background-color: #1976D2;
    color: #FFFFFF;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 34px;
    margin-left: 300px;
    margin-right: 300px;
    width: 569px;
    padding: 0;
}
.portfolio-btn {
    display: inline-block;
    text-align: center;
    font-family: inherit;
    line-height: 1.6em ;
    border-radius: 4px;

    border: 1px solid transparent;
    background-color: #F5F4FA;
        color: #212121;
}
.portfolio-btn:hover,
.portfolio-btn:active{
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}

.hero-list{
    display: flex;
   justify-content:space-between;
}

.list{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2em;
    width: 240px;
    color: #212121;
}

.list1:nth-child(4){
    margin-right: 0;
}
.list1{
    width: calc((100% - 90px)/4);
    margin-right: 30px;
    margin-bottom: 94px;
}

.text{
    margin-top:0px;
    margin-bottom: 94px;
    width: 240px;
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 400;
    color: #757575;
}

.team-work{
    display:flex;
    justify-content: center;
    gap: 30px;
}

.team-work:not(:nth-child(3n+1)) {
    margin-left: 0;
}
.team{
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    line-height: 1.2em;
    font: Roboto;
    font-size: 36px;
}

.images:not(:nth-child(3n+1)){
    margin-left: 0;
}
.images{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 94px;
    margin-left: 30px;
    padding: 0;
}

li {
    list-style: none;
}
.portfolio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.desk{
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2.0em;
    font-weight: 700;
}
.name{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 500;
color: #212121;
}

.work{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 400;
    color: #757575;
}

footer{
    display:block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.adress{
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 400;
    color: #FFFFFF;
}
.contact-last{
    display: block;
    margin:0;
   background-clip: text;
   color: #ffffff60;
}





   