html{
    box-sizing: border-box;
}
* {
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #212121;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    display: flex;
    align-items: center;
}
.header .container {
    display: flex;
    align-items: center;
}
.title{
    display: inline-block;
    padding: 6px 1px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.2em;
}
h1{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
.part1{
    color: #2196F3;
}
.part2{
    color: #000000;
}
.part-last{
    color: #FFFFFF;
}

.site-nav{
    display: flex;
    margin-left: 93px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    
}
.site-nav li+ li{
    margin-left: 50px;
}
.nav{
   display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.2em;
    color: #212121;
}
.li-current{
    position: relative;
}

.nav.current::after{
    content: '';
    position: absolute;
    display: block;
    border-radius: 2px;
    width: 100%;
    bottom: 0;
    height: 4px;
    background-color: #2196F3;
}

.div{
    margin: 0;
    padding: 0;
}
.nav:hover,
.nav:active{
    color: #2196F3;
    cursor: pointer;
}
.contact1{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.contact{
    display: block;
    align-items: center;
    font-size: 14px;
    line-height: 1.2em;
    color: #757575;
}

.contact-item:not(:last-child) {
    margin-right: 40px;
}

.contact-item svg {
    scale: 1.5;
    margin-right: 10px;
    fill: currentColor;
}

.contact:hover,
.contact:active {
    color: #2196F3;
}



.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 94px;
    text-align: center;
    background-color: #2F303A;

    content: '';
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.headline{
    display:block;
    margin: 0 auto 30px auto;
    padding: 15px 44px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    box-sizing: border-box;
    max-width: 696px; 
}
.headline{
    color: #FFFFFF;
}

.headline-btn {
    display: inline-block;
    margin-top: 0;
    padding: 10px 24px;

    font-family: inherit;
    line-height: 1.8;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;

    color: #fff;
    background-color: #2196F3;
}
.headline-btn:hover,
.headline-btn:active{
    background-color: #1976D2;
    color: #FFFFFF;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1024px;
    background: rgba(0, 0, 0, 0.2); 
    
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
}
.close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow:000000 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 34px;
    margin-left: 300px;
    margin-right: 300px;
    width: 569px;
    padding: 0;
}
.portfolio-btn {
    display: inline-block;
    text-align: center;
    font-family: inherit;
    line-height: 1.6em ;
    border-radius: 4px;

    border: 1px solid transparent;
    background-color: #F5F4FA;
        color: #212121;
}
.portfolio-btn:hover,
.portfolio-btn:active{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
        background: #2196f3;
        color: #FFFFFF;
    cursor: pointer;
}
.thumb{
    position: relative;
    overflow: hidden;
}
.thumb img{
    display: block;
}
.desk-text{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 322px;
    height: 168px;
    margin: 0;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    background: rgba(33, 150, 243, 0.9);
   
}
.portfolio li:hover .desk-text {
    transform: translateY(0);
}

.hero-list{
    display: flex;
   justify-content:space-between;
}

.list{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2em;
    width: 270px;
    color: #212121;
}

.list1:nth-child(4){
    margin-right: 0;
}
.list1{
    width: calc((100% - 90px)/4);
    margin-right: 30px;
    margin-bottom: 94px;
}
.list1 svg{
    display: block;
    background-color: #F5F4FA;
    border-radius: 4px;
    padding: 25px 100px;
    width: 270px;
    height: 120px;
}

.text{
    margin-top:0px;
    margin-bottom: 94px;
    width: 270px;
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 400;
    color: #757575;
}

.team-work{
    display:flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 94px;
}
.team-work > li{
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        background: #fff
}

.team-work:not(:nth-child(3n+1)) {
    margin-left: 0;
}
.team{
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    line-height: 1.2em;
    font: Roboto;
    font-size: 36px;
}

.images:not(:nth-child(3n+1)){
    margin-left: 0;
}
.images{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 94px;
    margin-left: 30px;
    padding: 0;
}
.images li{
    line-height: 0;
    position: relative;
}   
.image-text{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: rgba(47, 48, 58, 0.8);
}

li {
    list-style: none;
}
.portfolio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 0;
    margin-bottom: 94px;
}
.portfolio > li:hover,
.portfolio > li:active{
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
}

.desk{
    margin-top: 0;
    margin-bottom: 4px;
    padding-left: 25px;
    font-size: 18px;
    line-height: 2.0em;
    font-weight: 700;
}
.portfolio .work{
    padding-left: 25px;
}
.name{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 500;
color: #212121;
}

.work{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 1.8em;
    font-weight: 400;
    color: #757575;
}
.portfolio .work{
    text-align: left;
}
.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 206px;
    height: 44px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.social-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF10;
    fill: #AFB1B8;
    flex-shrink: 0;
}
.social-link a:hover,
.social-link a:active{
    background-color: #2196F3;
    fill: #FFFFFF;
}

.clients{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 94px;
}
.clients a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border-radius: 4%;
    border: 2px solid #AFB1B8;
    fill: #AFB1B8;
}
.clients a svg {
    width: 100%;
    height: 100%;

    max-width: 106px;
    max-height: 60px;
    overflow: visible;
}
.group-4 svg,
.group-6 svg {
    transform: scale(1.5);
}

.clients a:hover,
.clients a:active {
    border-color: #2196F3;
    fill: #2196F3;
}


footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.footer1 {
    display: flex;
    align-items: baseline;;
}
.footer-contact{
    margin-right: 70px;
}
.adress{
    text-align: left;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 400;
    color: #FFFFFF;
}
.contact-last{
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    color: #ffffff60;
}


.aside{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
}